@tailwind base;
@tailwind components;
@tailwind utilities;

@viewport {
  min-width: 320px;
  width: device-width;
}

:root {
  min-width: 320px !important;
  width: 100vw !important;
}

html {
  min-width: 320px !important;
  width: 100vw !important;
  overflow-x: hidden !important;
}

body {
  min-width: 320px !important;
  width: 100vw !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden !important;
}

#root,
#__next,
main,
.app {
  min-width: 320px !important;
  width: 100vw !important;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  min-width: min-content !important;
}