@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 100%;
}

html {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  * {
    min-width: initial;
  }
}
